{{define "footer-text"}}
<p><strong>no tracking | no logging | no advertising</strong></p>
<p>
    noip.at proudly presented by
    <a href="https://adminforge.de/" target="_blank">adminForge.de</a> |
    <a href="https://adminforge.de/unterstuetzen/" target="_blank">Spenden</a> |
    <a href="https://adminforge.de/impressum/" target="_blank">Impressum</a> |
    <a href="https://adminforge.de/datenschutz/" target="_blank">Datenschutzhinweis</a>
</p>
{{end}}

{{define "title"}}
    noip.at DynDNS
{{end}}

{{define "github"}}
    <a href="https://github.com/adminforge/ddns" target="_blank">
        <i class="fa fa-github fa-lg"></i> Code
    </a>
{{end}}
