<!-- templates/partials/footer.tmpl -->
{{define "footer"}}
<div class="footer py-4 text-secondary border-top border-tertiary border-1">
  <p><strong>no tracking | no logging | no advertising</strong></p>
  <p>
    noip.at proudly presented by
    <a href="https://adminforge.de/" target="_blank">adminForge.de</a> |
    <a href="https://adminforge.de/unterstuetzen/" target="_blank">Spenden</a> |
    <a href="https://adminforge.de/impressum/" target="_blank">Impressum</a> |
    <a href="https://adminforge.de/datenschutz/" target="_blank">Datenschutzhinweis</a>
  </p>
</div>
{{end}}