<!-- templates/partials/header.tmpl -->
{{define "header"}}
<div class="header">
    <div class="row algin-items-center">
        <div class="col text-start">
            <h3 class="text-body-secondary my-auto">
                <img src="/static/img/logo.png" alt="noip.at DynDNS" width="60" height="60">
                noip.at DynDNS
            </h3>
        </div>
        <div class="col text-end my-auto">
            <a href="https://github.com/adminforge/ddns" target="_blank">
                <i class="fa fa-github fa-lg"></i> Code
            </a>
        </div>
    </div>
  <ul class="nav nav-pills float-end">
    <li class="nav-item">

    </li>
  </ul>

</div>
{{end}}