<!-- templates/index.tmpl -->
{{define "title"}}noip.at DynDNS{{end}}

{{define "body"}}
<div class="jumbotron p-5 mb-5 mt-5 bg-body-secondary rounded">
    <div class="container-fluid py-2">
        <h2 class="fs-2">Dynamic DNS Service</h2>
        <p class="lead fs-5">free | no tracking | no logging</p>
        <hr />
        <form class="form-inline" role="form">
            <div id="hostname_input" class="form-group">
                <div class="input-group has-validation">
                    <input id="hostname" class="form-control input-lg rounded-start rounded-end-0" type="text" placeholder="your-hostname">
                    <div id="hostname_group" class="input-group-text input-lg">{{.domain}}</div>
                </div>
            </div>
        </form>
        <hr />
        <p><sub>* inactive hosts are deleted after {{.expiration}} days</sub></p>
        <input type="button" id="register" class="btn btn-primary disabled" value="Register Host" />
    </div>
</div>
<div id="command_output"></div>
{{end}}

{{define "scripts"}}
<script type="text/javascript">
  function isValid() {
      document.getElementById('register').classList.remove('disabled');
      document.getElementById('hostname').classList.remove('is-invalid');
      document.getElementById('hostname').classList.add('is-valid');
      document.getElementById('hostname_group').classList.add('bg-success-subtle');
      document.getElementById('hostname_group').classList.remove('bg-danger-subtle');
      document.getElementById('hostname_group').classList.add('border-success');
      document.getElementById('hostname_group').classList.remove('border-danger');
  }
  function isNotValid() {
      document.getElementById('register').classList.add('disabled');
      document.getElementById('hostname').classList.add('is-invalid');
      document.getElementById('hostname').classList.remove('is-valid');
      document.getElementById('hostname_group').classList.remove('bg-success-subtle');
      document.getElementById('hostname_group').classList.add('bg-danger-subtle');
      document.getElementById('hostname_group').classList.remove('border-success');
      document.getElementById('hostname_group').classList.add('border-danger');
  }
  async function validate() {
    let hostname = document.getElementById('hostname').value;
    await fetch("/available/" + hostname)
        .then(res => res.json())
        .then(data => {
            if (data.available) { isValid(); } else { isNotValid(); }
        }).catch(function(){ isNotValid(); });
  }

  let ready = (callback) => {
      document.addEventListener('DOMContentLoaded', callback);
  }

  ready(() => {
      let timer = null;
      document.getElementById('hostname').addEventListener('keydown', function () {
        clearTimeout(timer);
        timer = setTimeout(validate, 800)
      });
      document.getElementById('register').addEventListener('click', function () {
          let hostname = document.getElementById('hostname').value;
          fetch("/new/" + hostname)
              .then(res => res.json())
              .then(data => {
                  let host = location.protocol + '//' + location.host;
                  let element = document.createElement('pre');
                  element.classList.add('bg-warning-subtle');
                  element.classList.add('border-1');
                  element.classList.add('p-2');
                  element.classList.add('rounded');
                  element.innerHTML = "curl \"" + host + data.update_link + "\"";
                  document.getElementById('command_output').appendChild(element);
              }).catch(function(){ isNotValid(); });
      })
  })
</script>
{{end}}

{{/* Final render: wrap into the layout */}}
{{template "layout" .}}