<!-- templates/index.tmpl -->
{{define "title"}}noip.at DynDNS{{end}}

{{define "body"}}
<div class="jumbotron p-5 mb-5 bg-body-secondary rounded">
    <div class="container-fluid py-5">
        <h2>Dynamic DNS Service</h2>
        <p class="lead fs-2">free | no tracking | no logging</p>
        <hr />
        <form class="form-inline" role="form">
            <div id="hostname_input" class="form-group">
                <div class="input-group has-validation">
                    <input id="hostname" class="form-control input-lg rounded-start rounded-end-0" type="text" placeholder="your-hostname">
                    <div id="hostname_group" class="input-group-text input-lg">{{.domain}}</div>
                </div>
            </div>
        </form>
        <hr />
        <p><sub>* inactive hosts are deleted after {{.expiration}} days</sub></p>
        <input type="button" id="register" class="btn btn-primary disabled" value="Register Host" />
    </div>
</div>
<div id="command_output"></div>
{{end}}

{{define "scripts"}}
<script type="text/javascript">
  function isValid() {
    $('#register').removeClass("disabled");
    $('#hostname').removeClass("is-invalid");
    $('#hostname').addClass("is-valid");
    $('#hostname_group').addClass("bg-success-subtle border-success");
    $('#hostname_group').removeClass("bg-danger-subtle border-danger");
  }
  function isNotValid() {
    $('#register').addClass("disabled");
    $('#hostname').removeClass("is-valid");
    $('#hostname').addClass("is-invalid");
    $('#hostname_group').removeClass("bg-success-subtle border-success");
    $('#hostname_group').addClass("bg-danger-subtle border-danger");
  }
  function validate() {
    var hostname = $('#hostname').val();
    $.getJSON("/available/" + hostname, function(data) {
      if (data.available) { isValid(); } else { isNotValid(); }
    }).fail(function(){ isNotValid(); });
  }
  $(document).ready(function() {
    var timer = null;
    $('#hostname').on('keydown', function () {
      clearTimeout(timer);
      timer = setTimeout(validate, 800)
    });
    $('#register').on("click",function() {
      var hostname = $("#hostname").val();
      $.getJSON("/new/" + hostname, function(data) {
        var host = location.protocol + '//' + location.host;
        $("#command_output").append(
          "<pre class='bg-warning border-1 p-2 rounded'>curl \"" + host + data.update_link + "\"</pre>"
        );
      })
    });
  });
</script>
{{end}}

{{/* Final render: wrap into the layout */}}
{{template "layout" .}}